<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Med-Core{% endblock %}</title>
    <!-- Include any CSS files here -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  {% block scripts %}
  <!-- Include any JS files here -->
  <script src="{{ url_for('static', filename='scripts/core-functions/login.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/core-functions/scripts.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/core-functions/2fa.js') }}"></script>

  <script src="{{ url_for('static', filename='scripts/core-functions/forgot-password.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/core-functions/reset-password.js') }}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const token = localStorage.getItem('token');
        if (token) {
            // Set the token as a cookie
            document.cookie = `token=${token}; path=/;`;
            console.log('Token set as cookie:', token);
        }
    });
  </script>

  {% endblock %}

  <body>
    <div class="container">
      <header>
        <nav>
          <ul>

      {% if 'token' in request.cookies %}
        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        <li><a href="{{url_for('patients') }}"> Patients </a></li>
        <li><a href="{{url_for('clinics') }}"> Clinics</a></li>
      {% else %}
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
      {% endif %}
      </nav>

      </header>

          <main>
        {% block content %}
        <!-- Content from child templates will be injected here -->
        <h2>About Us</h2>
        <p>

          Welcome to our EHR system. Here you can find information about our
          services.
        </p>
        {% endblock %}
      </main>
      {% with messages = get_flashed_messages(with_categories=True) %} {% if
        messages %}
        <div class="flashes">
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
        {% endif %} {% endwith %}

      <footer>
        <p>&copy; 2024 Med-Core</p>
      </footer>
    </div>
  </body>
</html>
