{% extends "base.html" %}

{% block title %}Clinics list{% endblock %}

{% block content %}
<h1>Clinics list</h1>
<h2> <a href="{{ url_for('clinic_management') }}"> Add clinic</a></h2>

<style>

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        font-family: 'Roboto', sans-serif;
    }
    
    thead {
        background-color: #3498db;
        color: #fff;
    }
    
    th, td {
        padding: 12px 16px;
        text-align: left;
    }
    
    th {
        font-weight: 600;
    }
    
    tbody tr:nth-child(even) {
        background-color: #f5f5f5;
    }
    
    tbody tr:hover {
        background-color: #e6e6e6;
    }
    
    a {
        color: #3498db;
        text-decoration: none;
        transition: color 0.3s;
    }
    
    a:hover {
        color: #2980b9;
    }
    
    </style>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Address Number</th>
            <th>Address Complement</th>
            <th>ZIP</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Website</th>
            <th>Clinic Type</th>
            
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        {% for clinic in clinics %}
        <tr>
            <td>{{ clinic.name }}</td>
            <td>{{ clinic.address }}</td>
            <td>{{ clinic.address_number }}</td>
            <td>{{ clinic.address_complement }}</td>
            <td>{{ clinic.zip }}</td>
            <td>{{ clinic.city }}</td>
            <td>{{ clinic.state }}</td>
            <td>{{ clinic.country }}</td>
            <td>{{ clinic.phone }}</td>
            <td>{{ clinic.email }}</td>
            <td>{{ clinic.website }}</td>
            <td>{{ clinic.clinic_type }}</td>
  
            <td>{{ clinic.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>




{% endblock %}
