{% extends "base.html" %}

{% block title %}Patients list{% endblock %}

{% block content %}
<h1>Patients list</h1>
<h2> <a href="{{ url_for('patient_management') }}"> Add patient</a></h2>

<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table,
  th,
  td {
    border: 1px solid black;
  }
  th,
  td {
    padding: 8px;
    text-align: left;
  }
</style>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Picture</th>
      <th>Date of Birth</th>
      <th>Gender</th>
    
      <th>Phone</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Medical record</th>
    </tr>
  </thead>
  <tbody>
    {% for patient in patients %}
    <tr>
      <td>{{ patient.first_name }}</td>
      <td>{{ patient.last_name }}</td>
      <td>{{ patient.picture }}</td>
      <td>{{ patient.date_of_birth }}</td>
      <td>{{ patient.gender }}</td>
      
      <td>{{ patient.phone }}</td>
      <td>{{ patient.email }}</td>
      
      <td><a href="{{ url_for('patient_management', patient_id=patient.id) }}">Edit</a></td>
      <td><a href="{{ url_for('medical_record', care_link_id=patient.care_link_id, first_name=patient.first_name, last_name=patient.last_name) }}">New consultation</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
